h1, h2, h3, p, nav {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  color: white;
}

h2  {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

nav a {
  color: white;
}

.header {
  background-image: url(../images/the-flatiron-building.png);
}

.banner {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url(../images/the-flatiron-building.png);
}

.footer {
  font-family: Helvetica;
  text-align: left;
  background-color: dimgray;
}

#copyright {
  text-align: left;
  color: white;
  font-size: 11px;
}

.footer a {
  color: white;
}
